<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% if tag %}
            <title>topic: {{ tag }}</title>
        {% endif %}

        {% if fullTitle %}
            <title>{{ fullTitle }}</title>
        {% endif %}
        
        <title>{{ title }}</title>
        
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">

        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

        <link rel="manifest" href="manifest.json">

    </head>
    <body>

        {% include "partials/btt.njk" %}

        <div >
            {% include "partials/site-header.njk" %}
        </div>
        <div>
            <div>
                {{ content | safe }}
            </div>
        </div>

        <footer class=" border-t-2" >
            {% include "partials/footer.njk" %}
            <div class="bg-green-100 | py-4 ">
                <a href="https://hanoonih.github.io/#" target="_blank">
                    <p class="text-gray-800 text-center font-sans">Developed by <span class="font-bold">HIH<span></p>
                </a>
            </div>
        </footer>

        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-60dcbf97122abbf6"></script>

        {# Netlify cms login with Netlify Identity #}
        <script>
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                    });
                }
                });
            }
        </script>

        {# PWA #}
        <script>
            // Check if browser support service-worker
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/service-worker.js')
            }
        </script>

    </body>
</html>
