---
layout: 'layouts/base.njk'
---

<h2>Article page</h2>

<hr>

<h1>{{ title }}</h1>
<strong> {{ author }} </strong>  &nbsp; | &nbsp;
<em> {{ page.date | postDate}} </em>

<hr>

<p> {{ content }} </p>