---
title: നടന്‍ നസീറുദ്ദീന്‍ ഷാ ചികിത്സയില്‍
author: Kundanari Hamsa
---

ഏറ്റവും സൗകര്യപ്രദമായ യാത്രാമാർഗമാണ് ട്രെയിൻ. ദൂരയാത്രകൾക്ക് ഉൾപ്പടെ ഏറ്റവും കൂടുതൽ ആളുകൾ ഇന്ത്യയിൽ ട്രെയിനിനെ ആശ്രയിക്കുന്നു. നീളമേറെയുള്ള ട്രെയിനുകളെ പോലെ നീളമുള്ള പേരുകളുള്ള റെയിൽവേ സ്റ്റേഷനുകളുമുണ്ട്. ട്രെയിൻ മാർഗമുള്ള യാത്ര സുഖകരമാണെങ്കിലും ഇത്തരം സ്റ്റേഷനുകളുടെ പേര് വായിക്കുക എന്നത് അത്ര സുഖകരമായ ഒന്നല്ല. യാത്രക്കാരെ കുഴക്കുന്ന നീളമേറിയ റയിൽവേ സ്റ്റേഷൻ പേരുകൾ ഇന്ത്യയിൽ മാത്രമല്ല വിദേശ രാജ്യങ്ങളിലുമുണ്ട്.

ബ്രിട്ടണിലെ വെയിൽസിലാണ് ലോകത്ത് ഏറ്റവും നീളമേറിയ പേരുള്ള റയിൽവേ സ്റ്റേഷൻ സ്ഥിതി ചെയ്യുന്നത്.

‘Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch’ എന്നാണ് ഈ സ്റ്റേഷന്റെ പേര്. 58 അക്ഷരങ്ങളാണ് പേരിൽ അടങ്ങിയിരിക്കുന്നത്. 2019ലാണ് വെയിൽസിലെ ഈ സ്റ്റേഷൻ ലോകത്തെ ഏറ്റവും നീളമുള്ള പേരുള്ള റയിൽവേ സ്റ്റേഷനായത്. 57 അക്ഷരങ്ങൾ ഉള്ള ചെന്നൈ റയിൽവേ സ്റ്റേഷന്റെ റെക്കോർഡ് തകർക്കപ്പെട്ടത്. Llanfairpwll, അല്ലെങ്കിൽ Llanfair PG എന്നിങ്ങനെയുള്ള ചെറുപേരുകളിലും സ്റ്റേഷൻ അറിയപ്പെടുന്നുണ്ട്.

ഭർത്താവിന്റെ പെട്ടെന്നുള്ള വിയോഗത്തിൽ തകർന്ന് മന്ദിര ബേദി; ആശ്വസിപ്പിച്ച് സുഹൃത്ത് റോണിത് റോയ്

വെയിൽസിലുള്ള അൻഗ്ലേസെ ദ്വീപിലാണ് സ്റ്റേഷൻ സ്ഥിതി ചെയ്യുന്നത്. വെൽഷ് ഭാഷയിൽ 51 അക്ഷരങ്ങൾ മാത്രമാണ് പേരിലുള്ളത്. “ch" , “ll" എന്നിവ ഒരു അക്ഷരമായി വെൽഷ് ഭാഷയിൽ പരിഗണിക്കുന്നതാണ് ഇതിന്റെ കാരണം. നഗരത്തിന്റെ കൃത്യമായ സ്ഥാനം പേരിലൂടെ വിശദമാക്കുന്നതാണ് നീളമേറിയ പേരുണ്ടായതിന് കാരണം. നീന്തൽ തടാകത്തിനും ചുവന്ന ഗുഹയോടു കൂടിയ സെന്റ് ടെയ്സലോ പള്ളിക്കും സമീപമുള്ള പോൾ ടൗണ്‍ഷിപ്പിലെ സെന്റ് മേരീസ് പള്ളി എന്നതാണ് പേരുകൊണ്ട് അർത്ഥമാക്കുന്നത്.


സാക്ഷര കേരളം ക്രിമിനലുകളുടെ നാടാകുന്നോ? മുല്ലപ്പള്ളി രാമചന്ദ്രൻ

രണ്ടാമത്തെ ഏറ്റവും വലിയ പേരുള്ള റെയിൽവേ സ്റ്റേഷൻ ചെന്നൈയിലേതാണ്. പുരാച്ചി തലൈവർ ഡോക്ടർ എംജി രാമചന്ദ്രൻ സെൻട്രൽ റയിൽവേ സ്റ്റേഷൻ എന്നാണ് ചെന്നൈ റയിൽവേ സ്റ്റേഷന്റെ മുഴുവൻ പേര്. തമിഴ്നാട് മുൻ മുഖ്യമന്ത്രിയും അഭിനേതാവുമായിരുന്ന എംജി രാമചന്ദ്രന്റെ പേര് 2019ലാണ് റയിൽവേ സ്റ്റേഷന് നൽകിയത്. അതിന് മുമ്പ് ആന്ധ്രാപ്രദേശിലെ വെങ്കടനരസിംഹരാജുവരിപേട്ടയായിരുന്നു നീളമേറിയ പേരുള്ള റയിൽവേ സ്റ്റേഷൻ.
