@font-face {
    font-family: notoSerif;
    src: url(./assets/fonts/NotoSerifMalayalam-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

h1, p, .notoSerif {
    font-family: notoSerif;
}

blockquote {
    border-left: 10px solid #ccc;
    padding: 20px 0 20px 20px;
    /* margin: 10px 0; */
    background-color: rgb(255, 254, 208);
}

.videoLink {
    color: blue;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: underline;
    text-decoration-color: red;
}
.videoLink:hover {
    color: red;
    text-decoration-color: blue;
}

@media screen and (max-width:768px) {
    blockquote {
        border-left: 5px solid #ccc;
        padding: 20px 0 20px 12px;
        /* margin: 10px 0; */
        background-color: rgb(255, 254, 208);
    }
}

@media print {
    /* Addthis.com share button */
    .at-expanding-share-button-toggle-bg {
        display: none;
    }
}