@font-face {
    font-family: notoSerif;
    src: url(./assets/fonts/NotoSerifMalayalam-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

.tagsDisplay::-webkit-scrollbar {
    height: 6px;
}

.tagsDisplay::-webkit-scrollbar-track {
    background-color: #93C5FD;
    border-radius: 1rem;
}

.tagsDisplay::-webkit-scrollbar-thumb {
    background-color: #1E3A8A;
    border-radius: 1rem;
}

h1, p, code, .notoSerif {
    font-family: notoSerif;
}

blockquote {
    border-left: 10px solid rgb(158, 157, 122);
    padding: 20px 0 20px 20px;
    /* margin: 10px 0; */
    background-color: rgb(255, 254, 208);
}

.hadeesCode {
    border-left: 10px solid rgb(80, 143, 83);
    padding: 20px 0 20px 20px;
    background-color: rgba(218, 247, 216, 0.644);
}

.videoLink {
    color: #1E3A8A;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: underline;
    text-decoration-color: #B91C1C;
}

.videoLink:hover {
    color: #B91C1C;
    text-decoration-color: #1E3A8A;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width:768px) {
    blockquote {
        border-left: 5px solid #ccc;
        padding: 20px 0 20px 12px;
        /* margin: 10px 0; */
        background-color: rgb(255, 254, 208);
    }
}

@media print {
    /* Addthis.com share button */
    .at-expanding-share-button-toggle-bg {
        display: none;
    }
}
